body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.cardOver{
  transition-duration: 0.7s;
  transform: scale(1.2);
}

/* NavBar */

/* navchanger */

.scrollNav{
  background-color: white;
  color:white;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.bl{
  color: black!important ;
}




nav{
  position: fixed;
  top:15px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  /* border-bottom: 1px solid white; */
}
.brand{
  margin-left: 5%;
  font-size: 1.2rem;
  font-family: 'Megrim', cursive;
  font-weight: 700;
}
.brand > span{
  font-family: 'Rubik Glitch', cursive;
  border-radius: 50%;
  background-color: aliceblue;
  color: orange;
  font-weight: 100;
}
nav .navList{
  list-style-type: none;
  /* margin-left: 10%; */
  justify-self: center;
  display: flex;
  justify-content: space-between;
}
nav .navItem{
  /* display: inline-block; */
  margin: auto 30px;
  /* color: white; */
}
.navLink{
  color: white;
  text-decoration: none;
  
}
.selected{
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  
}
.navBtn{
  /* margin-left: 50px; */
 display: flex;
 
 
}
.navBtn>li{
  list-style-type: none;
  justify-self: flex-end;
}
.navBtn>li>a{
  border: 1px solid grey;
  padding: 8px;
  border-radius: 30px;
  margin-right: 10px;
}


/* NavBarEnd */

.logForm{
  background-color: #fff;
  height: 60vh;
  width: 400px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid rgb(202, 202, 202);
  

}
.logForm>label{
  /* font-size: 1.4rem; */
  /* margin-bottom: 40px; */
}
#emaill,#password,#submit{
  margin: 20px;
  width: 300px;
  height: 20px;
  border-radius: 30px;
  padding: 15px;
  border: 2px solid orange;
}
#submit{
  height: 50px;
background: linear-gradient(to right, #f7b733, #fc4a1a);
font-weight: 500;
font-size: 1.1rem;
line-height: 50px;
padding: 0;
border: 1px solid orange;
color: white;
}

#lblPassword,#lblEmail{
  color: red  ;
}